build

# Compiled class file #
*.class


# Gradle #
.gradle
.settings
.project
.classpath
bin
.nb-gradle
gradle.properties


# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# Log file #
*.log

.DS_Store